<h1>Your URLs:</h1>
<%= link_to 'Add New URL', new_url_path %>
<%= link_to 'Your Friends', 'users#friends' %>

<%= form_tag urls_path, :method => 'get', :id => "urls_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<ul>
  <% current_user.urls.each do |p| %>
    <li>
      <%= link_to image_tag(p.image), p.url %>
      <%= p.name %>
      <%= link_to '×', url_path(p), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>
<%= will_paginate @urls %>
