<h1>New URL</h1>

<%= form_for @url, remote: true do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br/>
    <%= f.text_field :url %>
  </p>

  <%= f.submit 'Create'%>
<% end %>
